<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h2 class="font-weight-bold m-0">
      <app-volver></app-volver> Moldes
    </h2>
    <button data-toggle="modal" data-target="#nuevoModel" class="btn btn-purple font-weight-bold mx-0"><i
        class="fas fa-plus fa-lg"></i> Nuevo molde</button>
  </div>
</div>
<div class="overflow-auto" style="height:87%;">
  <app-datos-vacios *ngIf="estado===2" [icono]="'far fa-bell'" [mensaje]="'moldes'"></app-datos-vacios>
  <app-buscando-datos *ngIf="estado===0"></app-buscando-datos>
  <div class="container-fluid" *ngIf="estado===1">
    <a (click)="seleccionarMolde(m)" *ngFor="let m of listadoMoldes">
      <div class="my-2 rounded-lg p-3 hoverable">
        <div class="row d-flex align-items-center">
          <div class="col-2 text-center">
            <img [src]="m.imagen" style="max-height: 80px;" *ngIf="m.imagen" class="img-fluid rounded z-depth-1"
              alt="Molde">
            <i class="far fa-clone fa-3x" *ngIf="!m.imagen"></i>
          </div>
          <div class="col-6">
            <h4 class="font-weight-bold m-0 h4">{{m.codigo}}</h4>
            <h6 class="m-0">Código</h6>
          </div>
          <div class="col-4 text-right">
            <h4 class="font-weight-bold m-0">{{m.estado}}</h4>
            <h6 class="m-0">Estado</h6>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<app-crear-molde></app-crear-molde>
