<!-- <nav class="navbar navbar-expand-lg fixed-top grey lighten-2 z-depth-0">
  <a class="navbar-brand font-weight-bold grey-text" routerLink="">Almacanela</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars grey-ic"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-start">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light grey-text rounded-circle"><i class="far fa-bell fa-lg"></i></a>
      </li>
      <li class="">
        <a mat-icon-button [matMenuTriggerFor]="menu" class="nav-link grey-text">
          <i class="fas fa-user-circle fa-2x"></i>
        </a>
        <mat-menu style="z-index: 10000;" #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>fingerprint</mat-icon>
            <span>Mis datos</span>
          </button>
          <button class="font-weight-bold text-danger" mat-menu-item>
            <mat-icon color="warn">logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav> -->

<div class="d-flex justify-content-end align-items-center">
  <a data-toggle="modal" data-target="#modalNotificaciones" class="grey-text m-1 waves-effect rounded-circle">
    <i class="far fa-bell fa-lg m-2"></i>
  </a>
  <a [matMenuTriggerFor]="menuUsuario" class="grey-text m-1 waves-effect rounded-circle">
    <i class="fas fa-user-circle fa-2x m-2"></i>
  </a>
</div>
<mat-menu style="z-index: 10000;" #menuUsuario="matMenu">
  <div class="px-4 pt-3 text-center grey-text">
    <h6 class="font-weight-bold m-0">{{camposGenerales.usuarioLogueado.idPersona.nombres | titlecase }}
      {{camposGenerales.usuarioLogueado.idPersona.apellidos | titlecase }}</h6>
    <small>{{camposGenerales.usuarioLogueado.idPersona.telefono}}</small>
    <hr>
  </div>
  <button mat-menu-item>
    <mat-icon>fingerprint</mat-icon>
    <span>Mis datos</span>
  </button>
  <button (click)="cerrarCesion()" class="font-weight-bold text-danger" mat-menu-item>
    <mat-icon color="warn">logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
<div class="modal fade" id="modalNotificaciones" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h4 class="font-weight-bold">Notificaciones</h4>
          <a data-dismiss="modal" class="fas fa-times-circle close purple-ic"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h6 class="my-5">Nuevo sistema de notificaciones, próximamente...</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>