<div class="modal fade" id="modalIngresar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h4 class="font-weight-bold">Inicio de sesión</h4>
          <a data-dismiss="modal" class="fas fa-times-circle close purple-ic"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-12">
                  <h6 class="font-weight-bold"><i class="fas fa-angle-double-right animated fadeInLeft infinite"></i>
                    Digite sus datos de acceso</h6>
                  <div class="md-form md-outline form-lg input-with-pre-icon">
                    <i class="far fa-user-circle input-prefix"></i>
                    <input [(ngModel)]="inicioSesion.usuario" type="text" id="usuario" name="usuario"
                      class="form-control form-control-lg">
                    <label for="usuario">Digitar usuario</label>
                  </div>
                  <div class="md-form md-outline form-lg input-with-pre-icon">
                    <i class="fas fa-key input-prefix"></i>
                    <input [(ngModel)]="inicioSesion.clave" type="password" id="clave" name="clave"
                      class="form-control form-control-lg">
                    <label for="clave"> Digitar contraseña</label>
                  </div>
                </div>
                <div class="col-6">
                  <button data-dismiss="modal" class="btn btn-block btn-outline-secondary btn-lg px-0">Cancelar</button>
                </div>
                <div class="col-6">
                  <button data-dismiss="modal" (click)="iniciarSesion()"
                    [disabled]="!(inicioSesion.usuario != '' && inicioSesion.clave != '')"
                    class="btn btn-block btn-purple btn-lg px-0">Ingresar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>