<div class="container-fluid">
  <div class="row d-flex flex-center">
    <div class="col-12 my-4 text-center">
      <h1 class="font-weight-bold">Moldes</h1>
      <h5>Administración de los moldes...</h5>
    </div>
    <div class="col-xl-4 my-4">
      <a (click)="moldesActivos()" class="btn-outline-purple rounded-lg px-3 d-flex align-items-center">
        <div class="black-text col text-center my-5">
          <h3 class="font-weight-bold">Moldes activos</h3>
          <h6>Consulta aquí el listado de moldes activos</h6>
        </div>
      </a>
    </div>
    <div class="col-xl-4 my-4">
      <a class="btn-outline-purple rounded-lg px-3 d-flex align-items-center">
        <div class="black-text col text-center my-5">
          <h3 class="font-weight-bold">Moldes inactivos</h3>
          <h6>Consulta aquí el listado de moldes inactivos</h6>
        </div>
      </a>
    </div>
  </div>
</div>
