<app-nabvar></app-nabvar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 px-2">
      <div class="card {{menu.clase}} mb-2 z-depth-0 overflow-auto">
        <div class="card-body {{menu.campos}}">
          <app-lateral></app-lateral>
        </div>
      </div>
    </div>
    <div class="col-lg-9 px-2">
      <div class="card z-depth-0" style="height: 87vh;">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
