<div class="modal fade" id="inactivarMolde" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h4 class="font-weight-bold">Inactivar molde</h4>
          <a data-dismiss="modal" class="fas fa-times-circle close purple-ic"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 text-center">
              <h2>¿Está seguro de cambiar el estado del molde: <span class="font-weight-bold">{{Molde.nombre}}?</span>
              </h2>
            </div>
            <div class="col-6 mt-2">
              <button data-dismiss="modal"
                class="btn btn-block btn-outline-secondary btn-lg font-weight-bold">Cancelar</button>
            </div>
            <div class="col-6 mt-2">
              <button (click)="cambiarEstadoMolde()" class="btn btn-block btn-purple btn-lg font-weight-bold">Inactivar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
