<div class="grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center" style="height: 100vh;">
                <div class="text-right p-3">
                    <h5 class="h5-responsive grey-text m-0">Lean Manufatory.</h5>
                    <h1 class="h1-responsive font-weight-bold purple-text">Almacanela Lean</h1>
                    <div class="purple-gradient offset-5 pt-3 badge-pill my-4 col-7"></div>
                    <h5 class="h5-responsive grey-text">Software para la administracíon de las pymes en el sector
                        calzado.</h5>
                    <button data-toggle="modal" data-target="#modalIngresar" class="btn btn-purple btn-lg">Iniciar
                        sesión</button>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <img src="https://mdbootstrap.com/img/illustrations/hiker-man-colour.svg" style="width: 100%;"
                    class="img-fluid p-5">
            </div>
        </div>
    </div>
</div>
<app-login></app-login>