<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h2 class="font-weight-bold m-0">
      <app-volver></app-volver> {{Molde.nombre}}
    </h2>
  </div>
</div>
<div class="overflow-auto" style="height:93%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <div class="card z-depth-0 border" style="height: 100%;">
          <div class="card-body text-center">
            <div class="grey lighten-2 mb-3 p-2 rounded-lg">
              <img [src]="Molde.imagen" style="max-height: 220px;" *ngIf="Molde.imagen"
                class="img-fluid rounded z-depth-1" alt="Molde">
            </div>
            <div class="d-flex justify-content-between">
              <h5>Código:</h5>
              <h3 class="font-weight-bold">{{Molde.codigo}}</h3>
            </div>
            <div class="d-flex justify-content-between">
              <h5>Consumo:</h5>
              <h5 class="font-weight-bold">{{Molde.consumo}} {{Molde.idPieza.idArticulo.unidadCmo.nombre}}</h5>
            </div>
            <div class="d-flex justify-content-between">
              <h5>Porcentaje de desperdicio:</h5>
              <h5 class="font-weight-bold">{{Molde.desperdicio}} %</h5>
            </div>
            <div class="row mt-2">
              <div class="col-6">
                <button (click)="editarMolde()" class="btn btn-purple font-weight-bold btn-block">Editar Molde</button>
              </div>
              <div class="col-6">
                <button (click)="inactivarMolde()" class="btn btn-grey font-weight-bold btn-block">Inactivar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="card z-depth-0 border" style="height: 100%;">
          <div class="card-body">
            <h1 class="font-weight-bold my-5 text-center">Datos adicionales</h1>
            <div class="d-flex justify-content-between">
              <h5>Linea:</h5>
              <h5 class="font-weight-bold">{{Molde.idLinea.nombre}}</h5>
            </div>
            <div class="d-flex justify-content-between">
              <h5>Parte:</h5>
              <h5 class="font-weight-bold">{{Molde.idParte.nombre}}</h5>
            </div>
            <div class="d-flex justify-content-between">
              <h5>Componente:</h5>
              <h5 class="font-weight-bold">{{Molde.idComponente.nombre}}</h5>
            </div>
            <div class="d-flex justify-content-between">
              <h5>Pieza:</h5>
              <h5 class="font-weight-bold">{{Molde.idPieza.nombre}}</h5>
            </div>
            <div class="rounded-pill py-1 purple-gradient my-3"> </div>
            <div class="d-flex justify-content-end">
              <h5 class="font-weight-bold">{{Molde.idPieza.idArticulo.referencia}}</h5>
            </div>
            <div class="d-flex justify-content-end">
              <h5 class="font-weight-bold">{{Molde.idPieza.idArticulo.cantidad}}
                {{Molde.idPieza.idArticulo.unidadCmo.nombre}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-eliminar-molde [nombre]="Molde.nombre"></app-eliminar-molde>
<app-editar-molde></app-editar-molde>
