<div class="sidebar">
  <div class="accordion" id="accordion-menu">
    <!-- PRIMER PAQUETE -->
    <div id="cabecera-referencias">
      <a class="h5 pointer" type="button" data-toggle="collapse" data-target="#item-referencias" aria-expanded="true"
        aria-controls="item-referencias"> Referencias
      </a>
    </div>
    <div id="item-referencias" class="collapse show" aria-labelledby="cabecera-referencias"
      data-parent="#accordion-menu">
      <a routerLink='/referencia/listar' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Lista de referencias
      </a>
      <a routerLink='referencia/lineas/listar' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Lista de líneas
      </a>
      <a routerLink='/referencia/moldes' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Lista de moldes
      </a>
    </div>
    <!-- SEGUNDO PAQUETE -->
    <div id="cabecera-inventario">
      <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-inventario"
        aria-expanded="false" aria-controls="item-inventario"> Inventario
      </a>
    </div>
    <div id="item-inventario" class="collapse" aria-labelledby="cabecera-inventario" data-parent="#accordion-menu">
      <a routerLink='/inventario/entradas' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Entradas
      </a>
      <a routerLink='/inventario/salidas' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Salidas
      </a>
    </div>
    <!-- TERCER PAQUETE -->
    <div id="cabecera-articulos">
      <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-articulos"
        aria-expanded="false" aria-controls="item-articulos"> Artículos
      </a>
    </div>
    <div id="item-articulos" class="collapse" aria-labelledby="cabecera-articulos" data-parent="#accordion-menu">
      <a routerLink='/articulos/listar' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Lista de artículos
      </a>
      <a routerLink='/articulos/estadisticas' routerLinkActive="active" class="h6 purple-text">
        <i class="fas fa-angle-right"></i> Estadísticas
      </a>
    </div>
  </div>
</div>
