<div class="modal fade right" id="modalNotifica" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid modal-side modal-bottom-right" role="document">
    <div class="modal-content {{d.notificacion.color}} text-white">
      <div class="modal-body">
        <div class="modal-header d-flex justify-content-between">
          <h4 class="font-weight-bold">{{d.notificacion.titulo}}</h4>
          <a *ngIf="d.notificacion.btnCerrar" data-dismiss="modal" class="fas fa-times-circle close"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h6>{{d.notificacion.descripcion}}</h6>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button (click)="d.accionBtnUno()" *ngIf="d.notificacion.btnUno.visible" [disabled]="!d.notificacion.btnUno.habilitar"
                class="btn m-1 px-0 mt-3 btn-outline-white btn-block">{{d.notificacion.btnUno.texto}}</button>
              <button (click)="d.accionBtnDos()" *ngIf="d.notificacion.btnDos.visible" [disabled]="!d.notificacion.btnDos.habilitar"
                class="btn m-1 px-0 mt-3 btn-outline-white btn-block">{{d.notificacion.btnDos.texto}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>