<div class="modal fade" id="nuevoModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h4 class="font-weight-bold">Nuevo molde</h4>
          <a data-dismiss="modal" class="fas fa-times-circle close purple-ic"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-6">
              <div class="row">
                <div class="col-xl-12">
                  <div class="md-form md-outline my-2">
                    <input (keyup)="validarEnvio()" [(ngModel)]="datos.nombre" type="text" id="nombreModal"
                      class="form-control">
                    <label for="nombreModal">Nombre del molde</label>
                  </div>
                </div>
                <div class="col-xl-12 mb-2">
                  <label for="listaLineas">Seleccione una línea</label>
                  <select (change)="llenarPartes()" [(ngModel)]="datos.idLinea" [disabled]="listadoLineas.length===0"
                    id="listaLineas" name="listaLineas" class="browser-default custom-select">
                    <option value=0 selected>Seleccione</option>
                    <option *ngFor="let l of listadoLineas" value={{l.idLinea}}>{{l.nombre}}</option>
                  </select>
                </div>
                <div class="col-xl-12 mb-2">
                  <label for="listaPartes">Seleccione una parte de la línea</label>
                  <select (change)="llenarComponentes()" [(ngModel)]="datos.idParte"
                    [disabled]="listadoPartes.length===0" id="listaPartes" name="listaPartes"
                    class="browser-default custom-select">
                    <option value=0 selected>Seleccione</option>
                    <option *ngFor="let p of listadoPartes" value={{p.idParte}}>{{p.nombre}}</option>
                  </select>
                </div>
                <div class="col-xl-12 mb-2">
                  <label for="listaComponentes">Seleccione un componente de la parte</label>
                  <select (change)="llenarPiezas()" [(ngModel)]="datos.idComponente"
                    [disabled]="listadoComponentes.length===0" id="listaComponentes" name="listaComponentes"
                    class="browser-default custom-select">
                    <option value=0 selected>Seleccione</option>
                    <option *ngFor="let c of listadoComponentes" value={{c.idComponente}}>{{c.nombre}}</option>
                  </select>
                </div>
                <div class="col-xl-12 mb-2">
                  <label for="listaPiezas">Seleccione una pieza del componente</label>
                  <select (change)="validarEnvio()" [(ngModel)]="datos.idPieza" [disabled]="listadoPiezas.length===0"
                    id="listaPiezas" name="listaPiezas" class="browser-default custom-select">
                    <option value=0 selected>Seleccione</option>
                    <option *ngFor="let p of listadoPiezas" value={{p.idPieza}}>{{p.nombre}}</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="col-xl-6">
              <div class="row">
                <div class="col-xl-6">
                  <div class="md-form md-outline my-2">
                    <input (keyup)="validarEnvio()" [(ngModel)]="datos.consumo" type="number" step="any" id="consumo"
                      class="form-control">
                    <label for="consumo">Consumo</label>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="md-form md-outline my-2">
                    <input (keyup)="validarEnvio()" [(ngModel)]="datos.desperdicio" type="number" step="any"
                      id="desperdicio" class="form-control">
                    <label for="desperdicio">Desperdicio</label>
                  </div>
                </div>
                <div class="col-12">
                  <label for="imagenACargar" style="height: 250px;"
                    class="mt-2 px-2 grey lighten-2 d-flex justify-content-center align-items-center rounded animated fadeIn">
                    <div class="text-center">
                      <img *ngIf="datos.imagen" style="max-height: 220px;"
                        class="img-fluid rounded z-depth-1-half animated fadeIn" [src]="datos.imagen" />
                      <h5 class="font-weight-bold grey-ic" *ngIf="!datos.imagen">Vista previa...</h5>
                    </div>
                  </label>
                  <div class="custom-file">
                    <input [(ngModel)]="datos.imagen" accept="image/*" (change)="capturarImagen($event)" type="file"
                      class="custom-file-input" id="imagenACargar" lang="es">
                    <label class="custom-file-label" for="imagenACargar">Selecciona una imagen</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-2">
              <button data-dismiss="modal"
                class="btn btn-block btn-outline-secondary btn-lg font-weight-bold">Cancelar</button>
            </div>
            <div class="col-6 mt-2">
              <button (click)="crearMoldeListo()" [disabled]="!botonCrear.estado"
                class="btn btn-block btn-purple btn-lg font-weight-bold">{{botonCrear.texto}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
