<div class="modal fade right" id="modalNotifica" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid modal-side modal-bottom-right" role="document">
    <div class="modal-content {{init.notifica.color}} text-white">
      <div class="modal-body">
        <div class="modal-header d-flex justify-content-between">
          <h4 class="font-weight-bold">{{init.notifica.nombre}}</h4>
          <a *ngIf="init.notifica.estado" data-dismiss="modal" class="fas fa-times-circle close"></a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h5>{{init.notifica.mensaje}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
